nav#menu h1{
    display: none;
}
div#pagina{
    width: 600px;
    background-color: rgb(143, 137, 143);
}
nav#navegacao ul{
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -20px;
    left: 600px;
}
nav#navegacao li{
    background-color:rgb(226, 164, 238);
    box-shadow: 1px 1px 5px black;
    padding: 5px;
    margin: 2px;
    display:inline-block;
    transition: backgrond-color 1s;
}
nav#navegacao li:hover{
    background-color: rgb(180, 102, 174);
    color: rgb(255, 255, 255);
}
article#noticias{
    background-color: white;
}
article#noticias h1{
    color:violet;
}
table#tabitens td{
    border: 1px solid black;
}
table#tabitens tr{
    color: rgb(255, 0, 21);
}
table#tabitens h3{
    color: blue;
    font-size: 36px;
}

