nav#menu h1{
    display: none;
}
div#pagina{
    width: 700px;
    height: -20px;
    background-color: rgb(241, 217, 241);
    margin: 10px;
    padding: 20px;
}
nav#navegacao ul{
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -20px;
    left: 750px;
}
nav#navegacao li{
    background-color:rgb(226, 164, 238);
    box-shadow: 1px 1px 5px black;
    padding: 8px;
    margin: 2px;
    display:inline-block;
    transition: backgrond-color 1s;
}
nav#navegacao li:hover{
    background-color: rgb(180, 102, 174);
    color: rgb(255, 255, 255);
}
article#novidades{
    border: solid 1px 1px 1px 1px black;
    background-color: white;
    font-size: 26pt;
    padding: 20px;
}
article#novidades p{
    text-align: justify;
    text-indent: 20px;
    font-size: 18pt;
}
h1{
    font-family: cursive;
    font-size: 40pt;
    text-align: left;
    color:rgb(255, 255, 255);
    text-shadow: 1px 1px 5px #606060;
}

article#novidades h2{
    font-size: 20pt;
    color:violet;
    text-shadow: 1px 1px 1px black;
}
div#listitens td{
    border: 1px solid black;
}
div#listitens tr{
    color: rgb(255, 0, 21);
    
}
div#listitens h3{
    color: rgb(250, 250, 252);
    font-size: 20px;
    background-color: rgb(165, 42, 165);
}
ul#lista {
    background-color: burlywood;
    width: 200px;
}
 section li{
     width: 200px;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     list-style: none;
 }

div#promo{
    background-color: rgb(164, 133, 179);
    border: solid black;
    padding: 20px;
}

div#promo p{
    font-size: 18pt;
    border: solid black;
    padding: 10px;
    background-color: rgb(231, 210, 210);
}

aside{
    
    background-color: rgb(243, 235, 235);
    color: #606060;
    width: 400px;
    position: absolute;
    left: 800px;
    top:40px;
    box-shadow: 5px 5px 1px 1px #606060;
    border: black;
    padding: 10px;
}

